/* Lib
@red:#D91818;
@green:#45BF55;
@blue:#04BFAD;
@orange:#F29A2E;
@black:#454343;
@white:#FFFFFF;
@gray:#BFBFBF;

/*
@background-color:@white;
@top-color:@white;
@link-color:@black;
@text-color:@black;
@title-color:@black;

@logo-span-color:#45BF55;
@navigation-color:@logo-span-color;
@xpbar-color:@navigation-color;
@health-color:@navigation-color;

@nav-sub-color:@gray;
@border-color:@nav-sub-color;
@stats-color:#909090;

Black: #454343;
Theme color: #45BF55:#45BF55;
Gray: #BFBFBF:#BFBFBF;
*/

/* HTML Tags */
body{
	margin:0;
	border:none;
	background:#fff;
	color: #454343;
	font: 16px/1.5 "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size:12px;
	margin-top:50px;
}

*{
	border:none;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: #45BF55;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

header h1{
	display:block;
	float:left;
}

.clear-both{
	clear:both;
	margin:0;
	padding:0;
}

.clickable:hover{
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

/* Dialog */
#dialog {
	width: 100px;
	margin-left: auto;
	margin-right:auto;
	margin-top:100px;
	background:#45BF55;
	display: none;
}

#dialog-blur {
	position: fixed;
	width: 100%;
	height: 100%;
	background:#FFF;
	z-index: 100;
	display: none;
}

/* Container */
.container{
	width: 1020px;
	margin-left: auto;
	margin-right:auto;
}

/* Top */
#top{
	width:100%;
	margin:0;
	padding:0;
	height:50px;
	border-bottom:1px solid #BFBFBF;
	background-color:#FFF;
	position:fixed;
	top:0;
	right:0;
	left:0;
	z-index:999;
}

#logo {
	float:left;
	margin-right:5px;
	padding:5px;
}

#logo h1{
	margin:0;
	padding:0;
	font-weight:normal;
}

#logo a{
	color:#454343;
}

#logo h1 span{
	color:#45BF55;
	font-weight:bold;
}

#menu-main {
	list-style: none;
	overflow: hidden;
	display: inline;
	float: left;
	padding-left: 0px;
	margin: 0;
	height:50px;
}

#menu-main li {
	display: inline;
	float: left;
	border-right: 1px solid #BFBFBF;
	height: 100%;
	overflow: hidden;
	position: relative;
	display: block;
	padding: 13px 15px;
	color: #45BF55;
}

#menu-main li span {
	font-size:12px;
	color: #BFBFBF;
}

#menu-main li strong {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 12px;
}

/* Stats */
#stats{
	font-size:12px;
	list-style: none;
	overflow: hidden;
	display: inline;
	float: left;
	padding-left: 0px;
	margin: 0;
}

#stats li {
	display: inline;
	float: left;
	overflow: hidden;
	position: relative;
}

#stats li a {
	display: block;
	padding:10px;
	color: #454343;
}

#stats li a span{
	color:#45BF55;
}

#experience-bar{
	height:5px;
	border:1px solid #BFBFBF;
}

#experience-bar div{
	background-color:#45BF55;
	height:100%;
}

/* Content */
.village-description-container{
	padding-bottom:10px;
	overflow:hidden;
	border-bottom:1px solid #BFBFBF;
	height: 0;
	max-height: 9999px;
	overflow: hidden;
	-webkit-transition: height 1s ease-in-out, color 1s;
	color:#BFBFBF;
	padding:20px;
	font-style:italic;
}

.village-description-container.active{
	color:#454343;
}

.toggle-village-description{
	margin-top:5px;
	display:block;
	right:0;
	left:0;
	width:100%;
	text-align:center;
	color:#BFBFBF !important;
	font-style:italic;
}

.toggle-village-description:hover{
	color:#45BF55 !important;
}

#content{
	float:left;
	width:750px;
	padding-top:10px;
	padding:10px;
}

.village-work-card{
	background-color:#45BF55;
	padding:20px;
	margin:10px;
	width:315px;
	color:#FFF;
}

.village-work-card ul{
	list-style: none;
	overflow: hidden;
	display: inline;
	padding-left: 0px;
	margin: 0;
}

.village-work-card ul li {
	border-bottom: 2px dotted #ccc;
	line-height: 2em;
	text-align: right;
	margin: 0.5em 0 0 0;
}

.village-work-card span.definition {
	float: left;
}

.village-work-card span {
	display: inline-block;
	padding: 0;
	margin: 0 0 -2px 0;
}

.card-details{
	overflow:hidden;
	font-size:12px;
	height:0px;

}
.tax-slider{
	margin-right:10px;
	margin-left:10px;
}

.hide{
	height:0px;
}

.card-skill-container{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
}

.card-skill-container a{
	color:white !important;
}

.skill-box{
	text-align:center;
	width:20px;
	height:20px;
	font-size:16px;
	float:left;
	padding: 10px;
	background:#37C958;
	border:1px solid #2EB94D;
}

.skill-box:hover{
	background-color:#2EB94D;
}

/* Footer */
footer{
	margin-top:10px;
	padding:10px;
	border-top:1px solid #BFBFBF;
	text-align:center;
}

footer a{
	color:#BFBFBF !important;
}

footer a:hover{
	color:#45BF55 !important;
}