/* Lib
@red:#D91818;
@green:#37AD52;
@blue:#04BFAD;
@orange:#F29A2E;
@black:#454343;
@white:#FFFFFF;
@gray:#BFBFBF;

/*
@background-color:@white;
@top-color:@white;
@link-color:@black;
@text-color:@black;
@title-color:@black;

@logo-span-color:#45BF55;
@navigation-color:@logo-span-color;
@xpbar-color:@navigation-color;
@health-color:@navigation-color;

@nav-sub-color:@gray;
@border-color:@nav-sub-color;
@stats-color:#909090;

Black: #454343;
Theme color: #45BF55:#45BF55;
Gray: #BFBFBF:#BFBFBF;
*/

/* HTML Tags */
body{
	margin:0;
	border:none;
	background:#fff;
	color: #454343;
	font: 16px/1.5 "Helvetica Neue",Helvetica,Arial,"Liberation Sans",FreeSans,sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size:12px;
}

*{
	border:none;
}

a, a:visited, a:hover {
	color: #37AD52;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
	font-weight:normal;
}

header h1{
	display:block;
	float:left;
}

.clear-both{
	clear:both;
	margin:0;
	padding:0;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}
 
.fade-in.one {
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;
}
 
.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}
 
.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

#beta-box{
	width:33%;
	margin-left:auto;
	margin-right:auto;
	background-color:#37AD52;
	color:white;
	padding:10px;
}

#beta-box a{
	color:white;
}

.sign-in{
	float:right;
	display:block;
}